/* Utils */
:root {
  --main-text-color: #757575;
  --main-bcg-color: #ffffff;
  --second-bcg-color: #f5f4fa;
  --nav-text-color: #000000;
  --accent-color: #2196f3;
  --btn-hover-color: #188ce8;
  --hero-bcg-color: #2f303a;
  --main-header-color: #ffffff;
  --second-header-color: #212121;
  --button-color-hover: #eeeeee;
  --footer-bcg-clr: #2f303a;
  --footer-contcs-clr: rgba(255, 255, 255, 0.6);
  --border-bottom-clr: #ececec;
  --border-clients-clr: #afb1b8;
  --main-text-font: "Roboto", sans-serif;
  --second-text-font: "Raleway", sans-serif;
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --indent: 15px;
  --items: 3;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Base */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

button {
  cursor: pointer;
}

.list {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
  display: block;
  padding: 0;
  margin: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  font-family: var(--main-text-font);
  color: var(--main-text-color);
  background-color: var(--main-bcg-color);
}
@media screen and (min-width: 320) {
  body {
    overflow-x: hidden;
  }
}

.header__menu-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
}
@media screen and (min-width: 768px) {
  .header__menu-btn {
    display: none;
  }
}

.menu__icon {
  fill: currentColor;
  width: 40px;
  height: 40px;
  -webkit-transition: fill var(--animation);
  transition: fill var(--animation);
}
.menu__icon:active, .menu__icon:hover, .menu__icon:focus {
  fill: var(--accent-color);
}

.mobile-menu {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  opacity: 0;
  visibility: hidden;
  background-color: var(--main-bcg-color);
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: var(--animation);
  transition: var(--animation);
}
.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  background-color: transparent;
  border: none;
  padding: 0;
}

.mobile-menu__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.mobile-menu__nav {
  margin-bottom: auto;
}

.mobile-menu__nav-item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__nav-link {
  font-family: var(--main-text-font);
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--second-header-color);
}
.mobile-menu__nav-link--current {
  color: var(--accent-color);
}
.mobile-menu__nav-link:hover, .mobile-menu__nav-link:focus {
  color: var(--accent-color);
}

.mobile-menu__contacts-list {
  margin-bottom: 64px;
}

.mobile-menu__contacts-item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__contacts-tel {
  font-family: var(--main-text-font);
  font-weight: 500;
  font-size: 26px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
@media screen and (min-width: 480px) {
  .mobile-menu__contacts-tel {
    font-size: 34px;
  }
}

.mobile-menu__contacts-mail {
  font-family: var(--main-text-font);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}
@media screen and (min-width: 480px) {
  .mobile-menu__contacts-mail {
    font-size: 24px;
  }
}

.mobile-menu__socials-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mobile-menu__socials-item:not(:last-child) {
  padding-right: 5px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  margin-right: 5px;
}
@media screen and (min-width: 480px) {
  .mobile-menu__socials-item:not(:last-child) {
    padding-right: 10px;
    margin-right: 10px;
  }
}

.mobile-menu__socials-link {
  font-family: var(--main-text-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
@media screen and (min-width: 480px) {
  .mobile-menu__socials-link {
    font-size: 18px;
  }
}

@media screen and (max-width: 1199px) {
  .footer__group {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__group {
    margin-right: 165px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__group {
    width: 231px;
    margin-right: 70px;
  }
}

.address__list {
  list-style: none;
  text-decoration: none;
  padding-left: 0;
}

.footer__address {
  display: block;
}

.address__link {
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-contcs-clr);
  list-style: none;
  text-decoration: none;
  -webkit-transition: color var(--animation);
  transition: color var(--animation);
}
.address__link:hover, .address__link:focus {
  color: var(--main-header-color);
  cursor: pointer;
}

.address__accent {
  color: var(--main-bcg-color);
}

@media screen and (max-width: 1199px) {
  .address__item:not(:last-child) {
    margin-bottom: 8px;
  }
}
@media screen and (min-width: 1200px) {
  .address__item:not(:last-child) {
    margin-bottom: 9px;
  }
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.header__logo {
  color: var(--nav-text-color);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  font-family: var(--second-text-font);
  font-weight: 700;
  font-size: 26px;
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: auto;
}
@media screen and (min-width: 1200px) {
  .header__logo {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    margin-right: 93px;
  }
}

.logo__accent {
  color: var(--accent-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity var(--animation), visibility var(--animation);
  transition: opacity var(--animation), visibility var(--animation);
  background-color: rgba(0, 0, 0, 0.1);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 300px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}

.modal__btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  background-color: inherit;
  padding: 6px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.modal__icon {
  fill: currentColor;
  -webkit-transition: fill var(--animation);
  transition: fill var(--animation);
}
.modal__icon:hover, .modal__icon:focus {
  cursor: pointer;
  fill: var(--accent-color);
}

.form__title {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-header-color);
  margin-bottom: 12px;
}
@media screen and (min-width: 1200px) {
  .form__title {
    line-height: 1.15;
  }
}

.register__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.register__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  width: 100%;
  margin-bottom: 20px;
}

.form__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4px;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
}

.form__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--main-text-color);
}

.form__input {
  height: 40px;
  outline: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 40px;
  -webkit-transition: border-color var(--animation);
  transition: border-color var(--animation);
}
.form__input:hover, .form__input:focus {
  border-color: var(--accent-color);
  cursor: pointer;
  outline: transparent;
}

.form__input:hover + .form__icon,
.form__input:focus + .form__icon {
  fill: var(--accent-color);
}

.form__icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transition: fill var(--animation);
  transition: fill var(--animation);
}

.form__comment {
  max-height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  -webkit-transition: border-color var(--animation);
  transition: border-color var(--animation);
}
.form__comment:hover, .form__comment:focus {
  border-color: var(--accent-color);
  cursor: pointer;
  outline: transparent;
}
.form__comment::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.form__comment::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.form__comment:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.form__comment::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.form__comment::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.register__agreement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 7px;
  margin-bottom: 30px;
}

.register__unchecked {
  -webkit-transition: var(--animation), fill var(--accent-color);
  transition: var(--animation), fill var(--accent-color);
}
.register__checkbox:checked + .register__icon .register__unchecked {
  opacity: 0;
}
.register__unchecked .register__agreement:hover .register__unchecked, .register__checkbox:focus + .register__icon .register__unchecked {
  fill: var(--accent-color);
}

.register__checked {
  opacity: 0;
  -webkit-transition: var(--animation);
  transition: var(--animation);
}
.register__checkbox:checked + .register__icon .register__checked {
  opacity: 1;
  -webkit-transition: var(--animation);
  transition: var(--animation);
}

.agreement__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
@media screen and (min-width: 1200px) {
  .agreement__text {
    font-size: 14px;
    line-height: 1.71;
  }
}

.agreement__link {
  cursor: pointer;
  color: var(--accent-color);
}

.btn__submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 200px;
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 1px;
  border-radius: 4px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  outline: transparent;
  margin: 0 auto;
  padding: 10px 52px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--main-bcg-color);
  -webkit-transition: background-color var(--animation), -webkit-box-shadow var(--animation);
  transition: background-color var(--animation), -webkit-box-shadow var(--animation);
  transition: background-color var(--animation), box-shadow var(--animation);
  transition: background-color var(--animation), box-shadow var(--animation), -webkit-box-shadow var(--animation);
}
.btn__submit:hover, .btn__submit:focus {
  cursor: pointer;
  background-color: var(--btn-hover-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (max-width: 767px) {
  .filters__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-right: -8px;
    margin-bottom: -15px;
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 768px) {
  .filters__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .filters__list {
    margin-bottom: 50px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  .filters__item {
    margin-right: 8px;
    margin-bottom: 15px;
  }
}
@media screen and (min-width: 768px) {
  .filters__item:not(:last-child) {
    margin-right: 8px;
  }
}

.filters__btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-header-color);
  background-color: var(--second-bcg-color);
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 6px 22px;
  -webkit-transition: color var(--animation), background-color var(--animation), -webkit-box-shadow var(--animation);
  transition: color var(--animation), background-color var(--animation), -webkit-box-shadow var(--animation);
  transition: color var(--animation), background-color var(--animation), box-shadow var(--animation);
  transition: color var(--animation), background-color var(--animation), box-shadow var(--animation), -webkit-box-shadow var(--animation);
}
.filters__btn:active, .filters__btn:hover, .filters__btn:focus {
  color: var(--main-header-color);
  background-color: var(--accent-color);
  cursor: pointer;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.subscribe__form {
  width: 100%;
}
@media screen and (min-width: 480px) and (max-width: 1199px) {
  .subscribe__form {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    width: 570px;
  }
}

.subscribe-form__name {
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-bcg-color);
}

@media screen and (max-width: 1199px) {
  .subscribe {
    text-align: center;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.subscribe__input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 15px 16px;
  width: 100%;
  display: block;
  background-color: transparent;
  color: var(--main-bcg-color);
}
.subscribe__input::-webkit-input-placeholder {
  padding-top: 15px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe__input::-moz-placeholder {
  padding-top: 15px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe__input:-ms-input-placeholder {
  padding-top: 15px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe__input::-ms-input-placeholder {
  padding-top: 15px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe__input::placeholder {
  padding-top: 15px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
@media screen and (min-width: 1200px) {
  .subscribe__input {
    min-width: 358px;
    min-height: 50px;
  }
}

.subscribe__btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-top: 20px;
  width: 200px;
  max-height: 50px;
  text-align: center;
  background-color: var(--accent-color);
  color: var(--main-bcg-color);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  padding: 10px 18px 10px 29px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-transition: background-color var(--animation), fill var(--animation);
  transition: background-color var(--animation), fill var(--animation);
}
@media screen and (min-width: 1200px) {
  .subscribe__btn {
    margin: 0;
    margin-left: 12px;
  }
}
.subscribe__btn:hover, .subscribe__btn:focus {
  background-color: var(--btn-hover-color);
  cursor: pointer;
}

.subscribe__icon {
  fill: currentColor;
}

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  margin-top: 16px;
  padding: 0;
}

.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  color: var(--border-clients-clr);
  -webkit-transition: background-color var(--animation);
  transition: background-color var(--animation);
}
.social__link:hover, .social__link:focus {
  background-color: var(--accent-color);
}

.social__icon {
  fill: currentColor;
  -webkit-transition: fill var(--animation);
  transition: fill var(--animation);
}
.social__icon:hover, .social__icon:focus {
  fill: #ffffff;
}

.hero__title {
  max-width: 696px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-header-color);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.clients__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.1785714286;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-header-color);
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .clients__title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
  }
}

.speciality__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-header-color);
}
@media screen and (max-width: 768px) {
  .speciality__title {
    text-align: center;
  }
}

.team__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-header-color);
}

.projects__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--second-header-color);
  margin-bottom: 4px;
}

.work__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-header-color);
}

.header {
  background-color: var(--main-bcg-color);
  border-bottom: 1px solid var(--border-bottom-clr);
  height: 60px;
  width: 100%;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .header {
    height: 80px;
  }
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation__list {
  display: none;
}
@media screen and (min-width: 768px) {
  .navigation__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.navigation__item:not(:last-child) {
  margin-right: 50px;
}

.navigation__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  position: relative;
  color: var(--second-header-color);
  -webkit-transition: color var(--animation);
  transition: color var(--animation);
  display: block;
}
.navigation__link:hover, .navigation__link:focus, .navigation__link:active {
  color: var(--accent-color);
}
.navigation__link--current {
  color: var(--accent-color);
}
.navigation__link--current::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
  position: absolute;
  bottom: -32px;
}
@media screen and (min-width: 1200px) {
  .navigation__link--current::after {
    bottom: -33px;
  }
}

.contacts {
  display: none;
}
@media screen and (min-width: 768px) {
  .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
  }
}

.contacts__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media screen and (min-width: 1200px) {
  .contacts__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 30px;
  }
}

.contacts__link {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: color var(--animation);
  transition: color var(--animation);
}
@media screen and (max-width: 767px) {
  .contacts__item:first-child .contacts__link {
    font-size: 34px;
    line-height: 1.1470588235;
    color: var(--accent-color);
  }
}
@media screen and (max-width: 767px) {
  .contacts__item:last-child .contacts__link {
    font-size: 24px;
    line-height: 1.1666666667;
  }
}
.contacts__link:hover, .contacts__link:active {
  color: var(--accent-color);
  cursor: pointer;
  -webkit-transition: color var(--animation);
  transition: color var(--animation);
}
@media screen and (min-width: 768px) {
  .contacts__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 8px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.1666666667;
    letter-spacing: 0.02em;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__link {
    gap: 10px;
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    line-height: 1.1428571429;
  }
}

.contacts__item {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 768px) {
  .contacts__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .contacts__item:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 768px) and (min-width: 1200px) {
  .contacts__item {
    margin: 0 auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.contact__icon {
  fill: currentColor;
  -webkit-transition: fill var(--animation);
  transition: fill var(--animation);
}
.contacts__link:hover .contact__icon, .contacts__link:focus .contact__icon {
  fill: var(--accent-color);
}

.hero {
  background-color: var(--hero-bcg-color);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/Header@1x_sm.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/Header@1x_sm.jpg);
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  margin-left: auto;
  margin-right: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
}
@media screen and (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/Header@2x_sm.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/Header@2x_sm.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/Header@1x_md.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/Header@1x_md.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/Header@2x_md.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/Header@2x_md.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/header@1x_lg.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/header@1x_lg.jpg);
    max-width: 1600px;
    min-height: 600px;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/header@2x_lg.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/header@2x_lg.jpg);
  }
}

@media screen and (min-width: 480px) {
  .hero__container {
    width: 360px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1200px) {
  .hero__container {
    margin-left: auto;
    margin-right: auto;
    width: 696px;
  }
}

.hero__button {
  border: 1px solid transparent;
  border-radius: 4px;
  display: inline-block;
  min-width: 200px;
  min-height: 50px;
  border-radius: 4px;
  padding: 10px 32px;
  background-color: var(--accent-color);
  color: var(--main-header-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  -webkit-transition: background-color var(--animation);
  transition: background-color var(--animation);
}
.hero__button:hover, .hero__button:focus {
  background-color: var(--btn-hover-color);
  cursor: pointer;
}

.speciality {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .speciality {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.speciality__list {
  padding: 0;
}
@media screen and (min-width: 768px) {
  .speciality__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -30px;
    margin-bottom: -30px;
  }
}

.speciality__item {
  width: 100%;
}
.speciality__item:not(:last-child) {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .speciality__item {
    -ms-flex-preferred-size: calc(50% - 30px);
        flex-basis: calc(50% - 30px);
    margin-left: 30px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .speciality__item {
    -ms-flex-preferred-size: calc(25% - 30px);
        flex-basis: calc(25% - 30px);
  }
}

.speciality__group {
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: var(--second-bcg-color);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 4px;
  margin-bottom: 30px;
}

.speciality__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.work {
  display: none;
}
@media screen and (min-width: 1200px) {
  .work {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 94px;
  }
}

.work__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.work__item {
  margin-right: 30px;
  padding: 0;
  -ms-flex-preferred-size: calc(100% - 60px)/3;
      flex-basis: calc(100% - 60px)/3;
  width: 370px;
  height: 294px;
  position: relative;
}
.work__item:last-child {
  margin-right: 0;
}

.work__image {
  display: block;
  padding: 0;
}

.work__text {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  font-family: var(--main-text-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  color: var(--main-bcg-color);
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: var(--second-bcg-color);
  padding-top: 94px;
  padding-bottom: 94px;
  padding-left: 0;
}

@media screen and (min-width: 768px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -30px;
    margin-bottom: -30px;
  }
}

.team__card {
  width: 100%;
  background-color: var(--main-bcg-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team__card:not(:last-child) {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .team__card {
    -ms-flex-preferred-size: calc(50% - 30px);
        flex-basis: calc(50% - 30px);
    margin-left: 30px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team__card {
    -ms-flex-preferred-size: calc(25% - 30px);
        flex-basis: calc(25% - 30px);
  }
}

.card__caption {
  padding-top: 30px;
  padding-bottom: 24px;
}
@media screen and (min-width: 1200px) {
  .card__caption {
    padding-bottom: 30px;
  }
}

.card__image {
  display: block;
  width: 100%;
}

.card__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-header-color);
  margin-bottom: 10px;
}

.card__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
  padding: 0;
}

.clients__item {
  width: 100%;
  height: 92px;
  -ms-flex-preferred-size: calc(50% - 30px);
      flex-basis: calc(50% - 30px);
  margin-left: 30px;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .clients__item {
    -ms-flex-preferred-size: calc(33.3333333333% - 30px);
        flex-basis: calc(33.3333333333% - 30px);
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    -ms-flex-preferred-size: calc(16.6666666667% - 30px);
        flex-basis: calc(16.6666666667% - 30px);
  }
}

.clients__link {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid var(--border-clients-clr);
  color: var(--border-clients-clr);
  -webkit-transition: color var(--animation), border-color var(--animation);
  transition: color var(--animation), border-color var(--animation);
}
.clients__link:hover, .clients__link:focus {
  color: var(--accent-color);
  border-color: #2196f3;
}

.clients__icon {
  fill: currentColor;
}

.footer {
  background-color: var(--footer-bcg-clr);
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (max-width: 1199px) {
  .footer {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    margin-right: auto;
    margin-left: auto;
  }
}
.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
  font-family: var(--second-text-font);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-header-color);
}

@media screen and (min-width: 768px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  .join__group {
    margin-bottom: 60px;
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .join__group {
    margin-bottom: 102px;
  }
}
@media screen and (min-width: 1200px) {
  .join__group {
    width: 206px;
    height: 80px;
    margin-right: 93px;
  }
}

.join__txt {
  font-family: var(--main-text-font);
  font-style: normal;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--main-bcg-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
}

.join__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  padding: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.join__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-transition: background-color var(--animation);
  transition: background-color var(--animation);
}
.join__link:hover, .join__link:focus {
  background-color: var(--accent-color);
}

.join__icon {
  fill: var(--main-bcg-color);
}

.projects__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.projects__item {
  max-width: 100%;
}
@media screen and (min-width: 768px) {
  .projects__item {
    -ms-flex-preferred-size: calc(50% - 30px);
        flex-basis: calc(50% - 30px);
    min-width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .projects__item {
    -ms-flex-preferred-size: calc(33.3333333333% - 30px);
        flex-basis: calc(33.3333333333% - 30px);
    min-width: 370px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .projects__item:first-child {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

.projects__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-box-shadow var(--animation);
  transition: -webkit-box-shadow var(--animation);
  transition: box-shadow var(--animation);
  transition: box-shadow var(--animation), -webkit-box-shadow var(--animation);
}
.projects__link:hover, .projects__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects__link:hover .projects__thumb::before,
.projects__link:focus .projects__thumb::before {
  opacity: 1;
}

.projects__thumb {
  position: relative;
  overflow: hidden;
}

.project__caption {
  padding: 20px 24px;
  border-left: 1px solid var(--button-color-hover);
  border-right: 1px solid var(--button-color-hover);
  border-bottom: 1px solid var(--button-color-hover);
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .project__caption--small {
    padding-bottom: 56px;
  }
}

.projects__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: -webkit-transform var(--animation);
  transition: -webkit-transform var(--animation);
  transition: transform var(--animation);
  transition: transform var(--animation), -webkit-transform var(--animation);
}

.projects__link:hover .overlay,
.projects__link:focus .overlay,
.projects__link:active .overlay {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.overlay__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--main-bcg-color);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 285px;
  height: 168px;
  color: var(--main-bcg-color);
  text-align: center;
}
@media screen and (min-width: 480px) {
  .overlay__text {
    width: 322px;
    height: 168px;
    font-size: 18px;
  }
}

.overlay__thumb {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}/*# sourceMappingURL=main.css.map */