.header {
  position: fixed;
  top: -1;
  z-index: 1000;
  background-color: var(--main-bcg-color);
  border-bottom: 1px solid var(--border-bottom-clr);
  min-height: 80px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.header__container {
  display: flex;
  align-items: center;
  margin: 0 auto;
}
