.join__group {
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
    display: block;
    margin-right: auto;
    margin-left: auto;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-bottom: 102px;
  }
  @media screen and (min-width: 1200px) {
    width: 206px;
    height: 80px;
    margin-right: 93px;
  }
}

.join__txt {
  font-family: var(--main-text-font);
  font-style: normal;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--main-bcg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.join__list {
  display: flex;
  gap: 10px;
  padding: 0;
  justify-content: center;
}

.join__link {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(255, 255, 255, 0.1);
  width: 44px;
  height: 44px;
  border-radius: 50%;

  transition: background-color var(--animation);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.join__icon {
  fill: var(--main-bcg-color);
}
