.header__logo {
  color: var(--nav-text-color);

  font-family: var(--second-text-font);
  font-weight: 700;
  font-size: 26px;
  display: block;
  margin-right: 93px;
}

.logo__accent {
  color: var(--accent-color);
}
