.subscribe__form {
  width: 100%;
  @media screen and (min-width: 480px) and (max-width: 1199px) {
    width: 450px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: flex-end;
    width: 570px;
  }
}

.subscribe-form__name {
  display: block;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-bcg-color);
}

.subscribe {
  @media screen and (max-width: 1199px) {
    text-align: center;
    margin-bottom: 20px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: column;
  }
}

.subscribe__input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 15px 16px;
  width: 100%;
  display: block;

  background-color: transparent;
  color: var(--main-bcg-color);

  &::placeholder {
    padding-top: 15px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
  @media screen and (min-width: 1200px) {
    min-width: 358px;
    min-height: 50px;
  }
}

.subscribe__btn {
  display: inline-flex;
  margin-top: 20px;
  width: 200px;
  max-height: 50px;
  text-align: center;
  background-color: var(--accent-color);
  color: var(--main-bcg-color);
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px 18px 10px 29px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  transition: background-color var(--animation), fill var(--animation);

  @media screen and (min-width: 1200px) {
    margin: 0;
    margin-left: 12px;
  }

  &:hover,
  &:focus {
    background-color: var(--btn-hover-color);
    cursor: pointer;
  }
}

.subscribe__icon {
  fill: currentColor;
}
